# Simpler Normalization Methods

In this notebook we'll try simpler normalization techniques because in the API we receive time out error.

In [1]:
# Imports
import pandas as pd
import os
import spacy
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.cluster import KMeans, DBSCAN
# from fuzzywuzzy import fuzz
from rapidfuzz import process, fuzz

In [2]:
# Go one folder back
os.chdir('..')

In [3]:
file_url_reference = "Data/referance_rooms-1737378184366.csv"

df_reference_initial = pd.read_csv(file_url_reference)
df_reference_initial

       hotel_id       lp_id     room_id                              room_name
0      13484077    lp23e8ef  1142730702                    Double or Twin Room
1      13487663  lp6554de34  1141927122                                  House
2      13462809  lp6556c3dc  1142722063                                   Room
3      13530116  lp6555450b  1141968275                            Triple Room
4      13530071  lp6557a92c  1142513784                              Apartment
...         ...         ...         ...                                    ...
99995     21684  lp6561b025     2168409                      Two-Bedroom Suite
99996     21684  lp6561b025     2168411                     Deluxe Triple Room
99997     21684  lp6561b025     2168412  Deluxe Queen Room with Two Queen Beds
99998     21684  lp6561b025     2168413                 Classic Quadruple Room
99999     21684  lp6561b025     2168414                     Standard King Room

[100000 rows x 4 columns]

In [4]:
file_url_expedia = "Data/updated_core_rooms.csv"

df_expedia_initial = pd.read_csv(file_url_expedia)
df_expedia_initial

,core_room_id,core_hotel_id,lp_id,supplier_room_id,supplier_name,supplier_room_name
0,1,506732,lp7bb6c,200979491,Expedia,Superior Double Room
1,2,509236,lp7c534,200998017,Expedia,"Deluxe Room, Balcony"
2,3,516326,lp7e0e6,201144757,Expedia,Female Dormitory- 3 Beds
3,4,495330,lp78ee2,201028863,Expedia,"Standard Apartment, 2 Bedrooms (6 people)"
4,5,970167,lpecdb7,218116045,Expedia,"Traditional Cottage, 2 Bedrooms, Harbor View"
...,...,...,...,...,...,...
2869051,2912439,193359,lp2f34f,323872346,Expedia,"Deluxe Room, 1 King Bed with Sofa bed"
2869052,2912440,143473,lp23071,230770971,Expedia,Ocean Bay Pool Room
2869053,2912441,1701692958,lp656dc61e,322166812,Expedia,8 Berth Luxury Caravan
2869054,2912442,143473,lp23071,315521742,Expedia,Beach Room
2869055,2912443,143473,lp23071,315521743,Expedia,Hibiscus Suite

### Data cleaning
Check how many ids are equal in both datasets:

df_reference['hotel_id'] and df_expedia['core_hotel_id']

In [5]:
# Convert the columns to sets
set_1 = set(df_reference_initial['lp_id'])
set_2 = set(df_expedia_initial['lp_id'])

# Find the intersection of the sets
equal_ids = set_1.intersection(set_2)

# Count the number of equal IDs
count_equal_ids = len(equal_ids)

# Display the results
print("Number of equal IDs:", count_equal_ids)

Number of equal IDs: 28638

We will keep only the hotels from the reference that are found in both datasets, because those are the only rooms that will need to be matched.

In [6]:
df_reference = df_reference_initial[df_reference_initial['lp_id'].isin(equal_ids)]
df_reference

,hotel_id,lp_id,room_id,room_name
0,13484077,lp23e8ef,1142730702,Double or Twin Room
1,13487663,lp6554de34,1141927122,House
2,13462809,lp6556c3dc,1142722063,Room
3,13530116,lp6555450b,1141968275,Triple Room
4,13530071,lp6557a92c,1142513784,Apartment
...,...,...,...,...
99988,482128,lp65563022,48212802,Single Room
99989,482128,lp65563022,48212803,Superior Double or Twin Room with Lake View
99990,482128,lp65563022,48212808,Twin Room with Garden View
99991,482128,lp65563022,48212809,Deluxe Double or Twin Room with Lake View
99992,482128,lp65563022,48212810,King Room with Lake View

In [7]:
df_expedia = df_expedia_initial[df_expedia_initial['lp_id'].isin(equal_ids)]
df_expedia

,core_room_id,core_hotel_id,lp_id,supplier_room_id,supplier_name,supplier_room_name
1,2,509236,lp7c534,200998017,Expedia,"Deluxe Room, Balcony"
4,5,970167,lpecdb7,218116045,Expedia,"Traditional Cottage, 2 Bedrooms, Harbor View"
6,7,626491,lp98f3b,201681924,Expedia,"Comfort House, 6 Bedrooms, Ocean View"
9,10,627565,lp9936d,201691684,Expedia,"Family House, 4 Bedrooms"
47,48,544769,lp85001,201249503,Expedia,Family Cabin
...,...,...,...,...,...,...
2868987,2912375,1701692924,lp656dc5fc,322141874,Expedia,"Basic Shared Dormitory (10 bunk beds, N2)"
2869025,2912413,840974,lpcd50e,323988812,Expedia,Presidential Suite
2869026,2912414,840974,lpcd50e,323988824,Expedia,Presidential Villa
2869033,2912421,840974,lpcd50e,323988797,Expedia,Superior Twin
2869042,2912430,840974,lpcd50e,323988775,Expedia,Mongomo King Suite

### Room name preprocesing
Cleaning, feature extraction, and normalization.

In [8]:
# Load SpaCy NLP model
nlp = spacy.load("en_core_web_sm")

# Use nlp.pipe() to process multiple room names at once
def preprocess_batch(texts):
    """Efficiently process a batch of text using nlp.pipe()."""
    return [" ".join([token.lemma_ for token in doc if not token.is_stop and not token.is_punct])
            for doc in nlp.pipe(texts, batch_size=1000, n_process=8)]  # Adjust batch_size & n_process


import re
import nltk
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer

# Download required resources
nltk.download('stopwords')
nltk.download('wordnet')

# Initialize stopwords and lemmatizer
stop_words = set(stopwords.words('english'))
lemmatizer = WordNetLemmatizer()

def preprocess_text(text):
    """Efficiently preprocess text: lowercase, remove numbers/punctuation/stopwords, and lemmatize."""
    if isinstance(text, list):  # If input is a list, process each item
        return [preprocess_text(t) for t in text]
    
    # Convert to lowercase
    text = text.lower()
    
    # Remove numbers
    text = re.sub(r'\d+', '', text)
    
    # Remove punctuation (excluding words and spaces)
    text = re.sub(r'[^\w\s]', '', text)
    
    # Remove extra whitespaces
    text = text.strip()
    
    # Tokenize (split into words)
    words = text.split()
    
    # Remove stopwords and apply lemmatization
    words = [lemmatizer.lemmatize(word) for word in words if word not in stop_words]
    
    # Rejoin words into a single string
    return " ".join(words)

# Example usage
input_text = """ Python 3.0, released in 2008, was a major revision of the language that is not completely 
backward compatible and much Python 2 code does not run unmodified on Python 3. With Python 2's end-of-life, 
only Python 3.6.x[30] and later are supported, with older versions still supporting e.g. Windows 7 
(and old installers not restricted to 64-bit Windows). """

processed_text = preprocess_text(input_text)
print(processed_text)

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\mijal\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\mijal\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

python released major revision language completely backward compatible much python code run unmodified python python endoflife python x later supported older version still supporting eg window old installers restricted bit window

In [9]:
# Apply batch processing in df_reference
df_reference = df_reference.copy()
df_reference["processed_room_name"] = preprocess_text(df_reference["room_name"].astype(str).tolist())

In [10]:
# Apply batch processing in df_expedia
df_expedia = df_expedia.copy()
df_expedia["processed_room_name"] = preprocess_text(df_expedia["supplier_room_name"].astype(str).tolist())

In [11]:
df_reference

,hotel_id,lp_id,room_id,room_name,processed_room_name
0,13484077,lp23e8ef,1142730702,Double or Twin Room,double twin room
1,13487663,lp6554de34,1141927122,House,house
2,13462809,lp6556c3dc,1142722063,Room,room
3,13530116,lp6555450b,1141968275,Triple Room,triple room
4,13530071,lp6557a92c,1142513784,Apartment,apartment
...,...,...,...,...,...
99988,482128,lp65563022,48212802,Single Room,single room
99989,482128,lp65563022,48212803,Superior Double or Twin Room with Lake View,superior double twin room lake view
99990,482128,lp65563022,48212808,Twin Room with Garden View,twin room garden view
99991,482128,lp65563022,48212809,Deluxe Double or Twin Room with Lake View,deluxe double twin room lake view
99992,482128,lp65563022,48212810,King Room with Lake View,king room lake view

In [12]:
df_expedia

,core_room_id,core_hotel_id,lp_id,supplier_room_id,supplier_name,supplier_room_name,processed_room_name
1,2,509236,lp7c534,200998017,Expedia,"Deluxe Room, Balcony",deluxe room balcony
4,5,970167,lpecdb7,218116045,Expedia,"Traditional Cottage, 2 Bedrooms, Harbor View",traditional cottage bedroom harbor view
6,7,626491,lp98f3b,201681924,Expedia,"Comfort House, 6 Bedrooms, Ocean View",comfort house bedroom ocean view
9,10,627565,lp9936d,201691684,Expedia,"Family House, 4 Bedrooms",family house bedroom
47,48,544769,lp85001,201249503,Expedia,Family Cabin,family cabin
...,...,...,...,...,...,...,...
2868987,2912375,1701692924,lp656dc5fc,322141874,Expedia,"Basic Shared Dormitory (10 bunk beds, N2)",basic shared dormitory bunk bed n
2869025,2912413,840974,lpcd50e,323988812,Expedia,Presidential Suite,presidential suite
2869026,2912414,840974,lpcd50e,323988824,Expedia,Presidential Villa,presidential villa
2869033,2912421,840974,lpcd50e,323988797,Expedia,Superior Twin,superior twin
2869042,2912430,840974,lpcd50e,323988775,Expedia,Mongomo King Suite,mongomo king suite

In [13]:
df_reference[df_reference['lp_id'] == 'lp9bfad']

    hotel_id    lp_id    room_id              room_name   processed_room_name
43   7855856  lp9bfad  785585601  One-Bedroom Apartment  onebedroom apartment

In [14]:
df_expedia[df_expedia['lp_id'] == 'lp9bfad']

,core_room_id,core_hotel_id,lp_id,supplier_room_id,supplier_name,supplier_room_name,processed_room_name
249498,252011,638893,lp9bfad,201720281,Expedia,"Standard Room, 1 Queen Bed, Garden View",standard room queen bed garden view
256820,259333,638893,lp9bfad,201720261,Expedia,"Economy Room, 1 Double Bed",economy room double bed
262292,264805,638893,lp9bfad,201720294,Expedia,"Family Suite, 1 Bedroom, Connecting Rooms, Cit...",family suite bedroom connecting room city view
267591,270104,638893,lp9bfad,201720284,Expedia,"Executive Room, 1 King Bed, Terrace",executive room king bed terrace
271171,273684,638893,lp9bfad,201720275,Expedia,"Standard Room, 1 Queen Bed, Mountain View (Pri...",standard room queen bed mountain view private ...
272972,275485,638893,lp9bfad,201720288,Expedia,"Deluxe Suite, 1 King Bed, Terrace",deluxe suite king bed terrace
274284,276797,638893,lp9bfad,201720313,Expedia,"Apartment, 2 Bedrooms, Kitchenette",apartment bedroom kitchenette
275229,277742,638893,lp9bfad,201720315,Expedia,"Panoramic Apartment, 2 Bedrooms, Kitchen, Lake...",panoramic apartment bedroom kitchen lake view

To merge room records from different hotel entries, we will use fuzzy string matching to determine the similarity between room names. Similar room names will then be matched to create a single, consistent room list.

In [15]:
def merge_rooms_by_hotel(lp_id, df1, df2, room_col="processed_room_name", similarity_threshold=80):
    """
    Merge room data for a given hotel id (lp_id) from two DataFrames using fuzzy matching.
    Prevents duplication by ensuring unique room descriptions before merging.
    
    Additionally, returns a DataFrame with the unmatched rooms from df2.

    Parameters:
        lp_id (str/int): The hotel id to filter on.
        df1 (DataFrame): First dataset containing hotel and room info.
        df2 (DataFrame): Second dataset containing hotel and room info.
        room_col (str): The column name for room names in both DataFrames.
        similarity_threshold (int): Minimum similarity score (0-100) for a match.

    Returns:
        tuple: A tuple with two DataFrames:
            - Merged DataFrame with fuzzy-matched room info.
            - DataFrame containing unmatched rooms from df2.
    """
    # Filter for the given hotel
    subset1 = df1[df1['lp_id'] == lp_id].copy()
    subset2 = df2[df2['lp_id'] == lp_id].copy()

    # Deduplicate room names before matching
    unique_rooms1 = subset1[[room_col]].drop_duplicates()
    unique_rooms2 = subset2[[room_col]].drop_duplicates()

    # Create a mapping from df2 to df1 using fuzzy matching
    matched_rooms = {}
    for room2 in unique_rooms2[room_col]:
        match, score, _ = process.extractOne(room2, unique_rooms1[room_col].tolist(), scorer=fuzz.token_sort_ratio)
        if score >= similarity_threshold:
            matched_rooms[room2] = match

    # Apply fuzzy match mapping and ensure no missing values
    subset2['matched_room'] = subset2[room_col].map(matched_rooms).fillna(subset2[room_col])

    # Merge unique room records from df1 and df2 based on the matched room names
    merged_rooms = unique_rooms1.merge(
        subset2[[room_col, 'matched_room']].drop_duplicates(), 
        left_on=room_col, 
        right_on="matched_room", 
        suffixes=('_df1', '_df2')
    )

    # Map back to original DataFrames to include all columns
    final_merged = merged_rooms.merge(
        subset1, left_on="matched_room", right_on=room_col, how="left"
    )
    
    # Identify unmatched rooms in df2 (those not present in the matched_rooms mapping)
    unmatched_rooms_df = subset2[~subset2[room_col].isin(matched_rooms.keys())].copy()
    
    return final_merged, unmatched_rooms_df

### Testing different cases

0. Hotel has rooms with quite similar descriptions in both providers

In [16]:
matched_0, unmatched_0 = merge_rooms_by_hotel('lp7c534', df_reference, df_expedia)
matched_0

,processed_room_name_df1,processed_room_name_df2,matched_room,hotel_id,lp_id,room_id,room_name,processed_room_name
0,deluxe room balcony,deluxe room balcony,deluxe room balcony,13518170,lp7c534,1142485350,"Deluxe Room, Balcony",deluxe room balcony
1,standard room,standard room,standard room,13518170,lp7c534,1142486049,Standard Room,standard room

In [17]:
unmatched_0

Empty DataFrame
Columns: [core_room_id, core_hotel_id, lp_id, supplier_room_id, supplier_name, supplier_room_name, processed_room_name, matched_room]
Index: []

1. Hotel has the same descriptions for many rooms.

In [18]:
matched_1, unmatched_1 = merge_rooms_by_hotel('lp98f3b', df_reference, df_expedia)
matched_1

,processed_room_name_df1,processed_room_name_df2,matched_room,hotel_id,lp_id,room_id,room_name,processed_room_name
0,comfort house bedroom ocean view,comfort house bedroom ocean view,comfort house bedroom ocean view,13929222,lp98f3b,1143605967,"Comfort House, 6 Bedrooms, Ocean View",comfort house bedroom ocean view
1,comfort house bedroom ocean view,comfort house bedroom ocean view,comfort house bedroom ocean view,13929222,lp98f3b,1143606069,"Comfort House, 6 Bedrooms, Ocean View",comfort house bedroom ocean view
2,comfort house bedroom ocean view,comfort house bedroom ocean view,comfort house bedroom ocean view,13929222,lp98f3b,1143606107,"Comfort House, 6 Bedrooms, Ocean View",comfort house bedroom ocean view
3,comfort house bedroom ocean view,comfort house bedroom ocean view,comfort house bedroom ocean view,13929222,lp98f3b,1143606131,"Comfort House, 6 Bedrooms, Ocean View",comfort house bedroom ocean view

In [19]:
unmatched_1

Empty DataFrame
Columns: [core_room_id, core_hotel_id, lp_id, supplier_room_id, supplier_name, supplier_room_name, processed_room_name, matched_room]
Index: []

2. Hotel has only 1 room with almost same definition in both providers.

In [20]:
matched_2, unmatched_2 = merge_rooms_by_hotel('lp9936d', df_reference, df_expedia)
matched_2

,processed_room_name_df1,processed_room_name_df2,matched_room,hotel_id,lp_id,room_id,room_name,processed_room_name
0,family house bedroom,family house bedroom,family house bedroom,13940261,lp9936d,1143591319,"Family House, 4 Bedrooms",family house bedroom

In [21]:
unmatched_2

Empty DataFrame
Columns: [core_room_id, core_hotel_id, lp_id, supplier_room_id, supplier_name, supplier_room_name, processed_room_name, matched_room]
Index: []

3. Hotel has different number of rooms in both providers and descriptions do not align.

In [22]:
matched_3, unmatched_3 = merge_rooms_by_hotel('lp9ad2d', df_reference, df_expedia)
matched_3

Empty DataFrame
Columns: [processed_room_name_df1, processed_room_name_df2, matched_room, hotel_id, lp_id, room_id, room_name, processed_room_name]
Index: []

In [23]:
unmatched_3

,core_room_id,core_hotel_id,lp_id,supplier_room_id,supplier_name,supplier_room_name,processed_room_name,matched_room
1166505,1169018,634157,lp9ad2d,201717108,Expedia,"Studio, 1 King Bed with Sofa bed",studio king bed sofa bed,studio king bed sofa bed
1173516,1176029,634157,lp9ad2d,201717110,Expedia,"Suite, 1 Bedroom",suite bedroom,suite bedroom
1178108,1180621,634157,lp9ad2d,201717109,Expedia,"Suite, 1 Bedroom",suite bedroom,suite bedroom
2440265,2483653,634157,lp9ad2d,322386459,Expedia,"Suite, 1 Bedroom (Mobility Accessible, Roll-In...",suite bedroom mobility accessible rollin shower,suite bedroom mobility accessible rollin shower
2440926,2484314,634157,lp9ad2d,322386458,Expedia,"Suite, 1 Bedroom (Hearing Accessible)",suite bedroom hearing accessible,suite bedroom hearing accessible
2442411,2485799,634157,lp9ad2d,322386463,Expedia,"Studio, 1 King Bed with Sofa bed (Mobility Acc...",studio king bed sofa bed mobility accessible tub,studio king bed sofa bed mobility accessible tub
2442416,2485804,634157,lp9ad2d,322386460,Expedia,"Studio, 1 King Bed with Sofa bed (Mobility/Hea...",studio king bed sofa bed mobilityhearing acces...,studio king bed sofa bed mobilityhearing acces...
2442427,2485815,634157,lp9ad2d,322386456,Expedia,"Suite, 1 Bedroom (Mobility Accessible, Roll-In...",suite bedroom mobility accessible rollin shower,suite bedroom mobility accessible rollin shower
2442447,2485835,634157,lp9ad2d,322386465,Expedia,"Studio, 1 King Bed with Sofa bed (Hearing Acce...",studio king bed sofa bed hearing accessible,studio king bed sofa bed hearing accessible

4. Hotel has different number of rooms in both providers and descriptions do not align.

In [24]:
matched_4, unmatched_4 = merge_rooms_by_hotel('lp9bfad', df_reference, df_expedia)
matched_4

Empty DataFrame
Columns: [processed_room_name_df1, processed_room_name_df2, matched_room, hotel_id, lp_id, room_id, room_name, processed_room_name]
Index: []

In [25]:
unmatched_4

,core_room_id,core_hotel_id,lp_id,supplier_room_id,supplier_name,supplier_room_name,processed_room_name,matched_room
249498,252011,638893,lp9bfad,201720281,Expedia,"Standard Room, 1 Queen Bed, Garden View",standard room queen bed garden view,standard room queen bed garden view
256820,259333,638893,lp9bfad,201720261,Expedia,"Economy Room, 1 Double Bed",economy room double bed,economy room double bed
262292,264805,638893,lp9bfad,201720294,Expedia,"Family Suite, 1 Bedroom, Connecting Rooms, Cit...",family suite bedroom connecting room city view,family suite bedroom connecting room city view
267591,270104,638893,lp9bfad,201720284,Expedia,"Executive Room, 1 King Bed, Terrace",executive room king bed terrace,executive room king bed terrace
271171,273684,638893,lp9bfad,201720275,Expedia,"Standard Room, 1 Queen Bed, Mountain View (Pri...",standard room queen bed mountain view private ...,standard room queen bed mountain view private ...
272972,275485,638893,lp9bfad,201720288,Expedia,"Deluxe Suite, 1 King Bed, Terrace",deluxe suite king bed terrace,deluxe suite king bed terrace
274284,276797,638893,lp9bfad,201720313,Expedia,"Apartment, 2 Bedrooms, Kitchenette",apartment bedroom kitchenette,apartment bedroom kitchenette
275229,277742,638893,lp9bfad,201720315,Expedia,"Panoramic Apartment, 2 Bedrooms, Kitchen, Lake...",panoramic apartment bedroom kitchen lake view,panoramic apartment bedroom kitchen lake view

As we can see the similariry function for merging rooms that belong to the same hotel works properly.

##### Save reference dataframe with room names processed

In [26]:
df_reference.to_csv("data/processed/reference_rooms.csv")